[submodule "vim/pathogen"]
	path = vim/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "tools/libc-database"]
	path = tools/libc-database
	url = git@github.com:niklasb/libc-database.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim/ycmd"]
	path = vim/ycmd
	url = https://github.com/Valloric/ycmd.git
[submodule "vim/bundle/typescript-vim"]
	path = vim/bundle/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git

[submodule "tools/pwndbg"]
	path = tools/pwndbg
	url = git@github.com:pwndbg/pwndbg.git
